<link href='https://fonts.googleapis.com/css?family=Luckiest Guy' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Sarabun' rel='stylesheet'>
<script src="https://kit.fontawesome.com/7334993110.js" crossorigin="anonymous"></script>

<body>

    <div class="background-container">
        <div class="content">
          <img class="logo" src="/assets/logo_principal.png" alt="Logo">
          <h1>UN EQUIPO EMPRENDEDOR</h1>
          <p>
            Un equipo emprendedor conformado por Ruby, Abel, Matias, Maria Paula y Rafael da origen a Dolce Vita, una iniciativa que nace en Villa el Salvador, 2023 con la misión de agregar momentos de alegría a esta encantador distrito.

            Nuestro emprendimiento: La Panacota, una deliciosa y elegante alternativa que busca cautivar los paladares de todos aquellos que la prueban.
            
            Nuestro equipo se embarca en la producción diaria y artesanal de estas exquisitas Panacotas. Con dedicación y cariño, aspiran a formar parte de los momentos más felices de todos sus clientes.
        </p>
          </div>
      </div>

    <div class="footer">
        <div class="mapa">
          <h2>Nos puedes encontrar aquí !</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.4023585211207!2d-76.95551228921047!3d-12.221012987979668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105bbd9fd19c5b7%3A0xaa64bd01c0627718!2sColegio%20Trilce%20-%20Villa%20El%20Salvador!5e0!3m2!1ses-419!2spe!4v1701496850681!5m2!1ses-419!2spe" width="750" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
        <div class="datos_contacto">
            <div class="datoUbicacion">
                <h3>DIRECCION</h3>
                <p>Av. Separadora Agroindustrial subparcela 34 A-2</p>
              </div>
          
              <div class="redesSociales">
                <h3>SÍGUENOS EN </h3>
                <a href="https://www.instagram.com/pannacotas.dolcevita/" target="_blank">
                    <i class="fab fa-instagram" style="color: #cbbfc0;"></i>
                </a>
              </div>
          
              <div class="contacto">
                <h3>CONTACTANOS</h3>
                <p>Correo: dvita.pannacotas@gmail.com</p> 
                <p>Telefonos: (01) 6198 105 / 989 039 381 / 940 492 518</p>
              </div>
        </div>
    
        <div class="consultas">
          <h3>Consultas</h3>
          <form>
            <input type="email" placeholder="Correo Electrónico" required>
            <textarea placeholder="Escribe tu consulta..." rows="4" required></textarea>
            <button type="submit">Enviar Consulta</button>
          </form>
        </div>
        <p>© 2023 Dolce Vita. Todos los derechos reservados para Esmeralda Cienfuegos (Hermana de Ruby Cienfuegos)</p>
      </div>
</body>