<link href='https://fonts.googleapis.com/css?family=Luckiest Guy' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Sarabun' rel='stylesheet'>
<script src="https://kit.fontawesome.com/7334993110.js" crossorigin="anonymous"></script>
<body>
    <div class="encabezado">
      <h1>SABORES</h1>
      <p>
        ¡Descubre la exquisitez de la Panna Cotta, un postre italiano tradicional que te transportará a la región del Piamonte! Elaborado con crema de leche, azúcar y gelificantes, este manjar se distingue por su sabor lácteo y su textura suave, similar al flan. ¡Déjate cautivar por la magia de la Panna Cotta, un festín para tu paladar! 🍮✨ ¡Ven y disfruta de esta deliciosa experiencia en cada bocado! #PannaCotta #ExperienciaItaliana #PostreGourmet 🇮🇹🍨
     ​</p>
    </div>
    <div class="grid-container">
      <div class="grid-item">
          <img src="/assets/fresa_arandanos.jpg" alt="Fresa_Arandano">
          <p>Fresa con arándano </p>
      </div>
      <div class="grid-item">
          <img src="/assets/fresa.jpg" alt="Fresa">
          <p>Fresa</p>
      </div>
      <div class="grid-item">
        <img src="/assets/arandanos_piña.jpg" alt="Arandanos con Piña">
        <p>Arándano con piña</p>
     </div>
      <div class="grid-item">
          <img src="/assets/piña_fresa.jpeg" alt="Piña con fresa">
          <p>Piña con fresa</p>
      </div>
      <div class="grid-item">
        <img src="/assets/piña.jpg" alt="Piña">
        <p>Piña</p>
      </div>
      <div class="grid-item">
        <img src="/assets/mango.jpg" alt="Mango">
        <p>Mango</p>
      </div>
      <div class="grid-item">
        <img src="/assets/arandano.jpg" alt="Arandano">
        <p>Arándano</p>
      </div>
     <div class="grid-item">
      <img src="/assets/fresa_mango.jpg" alt="Fresa con mango">
       <p>Fresa con mango</p>
      </div>
   </div>
  

    <div class="footer">
        <div class="mapa">
          <h2>Nos puedes encontrar aquí !</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.4023585211207!2d-76.95551228921047!3d-12.221012987979668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105bbd9fd19c5b7%3A0xaa64bd01c0627718!2sColegio%20Trilce%20-%20Villa%20El%20Salvador!5e0!3m2!1ses-419!2spe!4v1701496850681!5m2!1ses-419!2spe" width="750" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
        <div class="datos_contacto">
            <div class="datoUbicacion">
                <h3>DIRECCION</h3>
                <p>Av. Separadora Agroindustrial subparcela 34 A-2</p>
              </div>
          
              <div class="redesSociales">
                <h3>SÍGUENOS EN </h3>
                <a href="https://www.instagram.com/pannacotas.dolcevita/" target="_blank">
                    <i class="fab fa-instagram" style="color: #cbbfc0;"></i>
                </a>
              </div>
          
              <div class="contacto">
                <h3>CONTACTANOS</h3>
                <p>Correo: dvita.pannacotas@gmail.com</p> 
                <p>Telefonos: (01) 6198 105 / 989 039 381 / 940 492 518</p>
              </div>
        </div>
    
        <div class="consultas">
          <h3>Consultas</h3>
          <form>
            <input type="email" placeholder="Correo Electrónico" required>
            <textarea placeholder="Escribe tu consulta..." rows="4" required></textarea>
            <button type="submit">Enviar Consulta</button>
          </form>
        </div>
        <p>© 2023 Dolce Vita. Todos los derechos reservados para Esmeralda Cienfuegos (Hermana de Ruby Cienfuegos)</p>
      </div>
</body>